{"cmd": "config", "apps": {"app1": {"exe": "/home/pi/bridge/apps/living.py", "numAdtSocs": 1, "name": "living", "adtSocs": ["/tmp/tagAdtSocket1"], "mgrSoc": "/tmp/livingManagerSocket"}}, "adpt": {"adt1": {"btAddr": "1C:BA:8C:20:C3:D7", "exe": "/home/pi/bridge/drivers/sensortagadaptor.py", "name": "SensorTag", "appSocs": ["/tmp/tagAdtSocket1"], "btAdpt": "hci0", "mgrSoc": "/tmp/tag1ManagerSocket", "method": "btle", "numAppSoc": 1}}}